CAT 2/stu.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="CHRIST">        
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Computer-Science" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Stu-name" type="xs:string"/>
							<xs:element name="Stu-university" type="xs:string"/>
							<xs:element name="Stu-emailid" type="xs:string"/>
							<xs:element name="Stu-phonenum" type="xs:integer"/>
						</xs:sequence>
                    </xs:complexType>
                </xs:element>
             </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>